body {
  background-color: #232323;
}

.card {
  width: 100%;
}

.form-check {
  position: relative;
}

.form-check-input {
	top: calc(50% - .5em);
	position: absolute;
	margin-top: 0;
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

.task-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  row-gap: 1rem;
}

.task-tracker .title {
  color: var(--bs-white);
  margin-bottom: 0;
}

.task-tracker .card {
  background-color: #333;
  color: #FFF;
  border-radius: 8px;
}

.task-tracker .card-body {
  padding: 1.25rem;
}

.task-tracker .card-form {
  border: 2px solid #151515;
  margin-bottom: 1rem;
}

.task-tracker .btn {
  border-radius: 8px;
}

.task-tracker .form-control {
  background: #232323;
  border: 2px solid #151515;
  color: #fff;
  border-radius: 8px;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: .5rem;
}

.task-list .card-body {
  align-items: center;
  display: flex;
  justify-content: space-between;
}